= render "posts/header"
.main
  .main__left
    .main__left--accbox
      %label{:for => "label4"} メニュー
      %input#label4.menu{:type => "checkbox"}/
      .menubar
        = link_to "投稿する","#",class:"menubar-btn"
        = link_to "ランキング","#",class:"menubar-btn"
        = link_to "フォロワー","#",class:"menubar-btn"
        = link_to "ログアウト", destroy_user_session_path, method: :delete,class:"menubar-btn"
  .main__right
    %h1.title "#{current_user.name}さんのToDoリスト"
    = render "posts/content"
