= render "posts/header"
.main
  = render "posts/side"
  .main__right
    - if @search.present?
      .search-box
        .search-box__title
          = "#{@search}の検索結果"
      .search-number
        = "#{@users.count}件表示"
    - else
      .title
        = "#{@search}の検索結果"
    - @users.each_slice(2) do |user|
      - user.each do |u|
        .user-lists
          = link_to user_path(u),class:"user-link" do
            .user-name
              =u.name