= render "posts/header"
.main
  = render "posts/side"
  .main__right
    - if @search.present?
      .search-box
        .search-box__title
          = "#{@search}の検索結果"
      .search-number
        = "#{@users.count}件表示"
    - else
      .title
        検索結果はありません。
    - @users.each do |user|
      = link_to user_path(user.id),class:"posts-link" do
        .posts-data
          .user-name
            =user.name