.header
  .header-left
    .header-left__logo
      = link_to root_path do
        = image_tag src="/images/logo.png", width:"140px", class:"shop-icon"
    .header-left__search
      = form_with(url: searches_path,local: true,method: :get) do |f|
        = f.text_field :keyword,placeholder: "ユーザの検索",class:"header-left__search--box"
        = f.submit "検索",class: "header-left__search--btn"
      -# %input.header-left__search--box
      -# %button.header-left__search--btn
      -#   検索
  -#     .header
  -# .main
  -#   = link_to root_path do
  -#     = image_tag src="/images/material/logo/logo.png", width:"140px", class:"header_icon"
  -#   .main-searchBox
  -#     = form_with(url: searches_path,local: true,method: :get,class:"search-form") do |f|
  -#       = f.text_field :keyword,placeholder:"何かお探しですか？",class:"search-input"
  -#       = f.submit '検索',class: " search-btn"

  .header-right
    .header-right__my-page
      = link_to "#{current_user.name}さんのマイページ","/users/#{current_user.id}",class:"usermypage"
    .header-right__log-out
      = link_to "ログアウト", destroy_user_session_path, method: :delete,class:"usermypage"
