.header
  .header-left
    .header-left__logo
      = link_to root_path do
        = image_tag src="/images/logo.png", width:"140px", class:"shop-icon"
    .header-left__search
      %input.header-left__search--box
      %button.header-left__search--btn
        検索
  .header-right
    .header-right__my-page
      = link_to "#{current_user.name}さんのマイページ","/users/#{current_user.id}",class:"usermypage"
    .header-right__log-out
      = link_to "ログアウト", destroy_user_session_path, method: :delete,class:"usermypage"
