.main__left
  .main__left--accbox
    %label{:for => "label4"} メニュー
    %input#label4.menu{:type => "checkbox"}/
    .menubar
      = link_to "投稿する",new_post_path,class:"menubar-btn"
      = link_to "いいねしたToDo一覧","#",class:"menubar-btn"
      = link_to "フォロワー","#",class:"menubar-btn"
      = link_to "みんなの投稿に戻る",posts_path,class:"menubar-btn"
      = link_to "ログアウト", destroy_user_session_path, method: :delete,class:"menubar-btn"
